<template>
  <div id="app">
    <h1>TODO LIST</h1>
    <form @submit.prevent="addItem">
      <input
        class="input"
        v-model="text"
        type="text"
        placeholder="Add New object"
      />
      <button class="button" @click="add">ADD</button>
    </form>
    <ol>
      <li v-for="item in items" :key="item.id">
        <span>{{ item.text }}</span>
      </li>
    </ol>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      url: "http://localhost:8000",
      text: "",
      items: [],
    };
  },

  methods: {
    addItem() {
      console.log(this.text);

      axios.get(this.url).then((response) => (this.items = response.data));
    },
    async getItems() {
      const response = await axios.get("http://localhost:8000");
      this.items = response.data;
      return this.items;
    },
    async add() {
      await axios.post(this.url, { text: this.text });
    },
  },
  mounted() {
    this.getItems();
  },
};
</script>
<style scoped>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#todolist {
  margin: 4rem auto;
  padding: 2rem 3rem 3rem;
  max-width: 500px;
  background: #7d66ff;
  color: #fff;
  box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
}
#todolist h1 {
  /*text-align:center;*/
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#todolist .emptylist {
  margin-top: 2.6rem;
  text-align: center;
  letter-spacing: 0.05em;
  font-style: italic;
  opacity: 0.8;
}
#todolist li {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}
form {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}
form label {
  min-width: 100%;
  margin-bottom: 0.6rem;
  font-size: 1.3rem;
}
form input {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
}
form button {
  padding: 0 1.3rem;
  border: none;
  background: #9ea5a5;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(182, 38, 38, 0.3);
  margin-left: 5px;
  cursor: pointer;
  transition: background 0.2s ease-out;
}
form button:hover {
  background: #615eff;
}
form input,
form button {
  font-family: "Quicksand", sans-serif;
  height: 4rem;
}
</style>
